/*Does not include image gallery styles. Refer to image-gallery.css for the styles on mobile and desktop.*/

@media screen and (min-width: 800px) {   
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    grid-auto-rows: 100vh;
    font-family: Arial, sans-serif;
    color: #000;
    background-color: white;
    margin: 0;
    line-height: 1.6;

}

header {
    background-color: #003744!important;
    width: 100%;
    position: sticky;
    top:0;
    z-index: 100;
}
nav ul {
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0;
    margin: 0;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: 0.3s;
}
nav ul li a:hover {
    background-color: orange;
    border-radius: 4px;
    color: green;
    font-size: 1rem;
    font-weight: bolder;
}
main {
    display:grid;
    width: 100%;
    margin: 0;
}
.two-column {    
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    padding: 4rem 1rem;
    background-color: #006278!important;
    color: white
}
section {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.contact-us{
    width: auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    padding: 4rem 1rem;
    background-color: white;
    color: black;
    margin: 0;
}

.heading{
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0;
    box-shadow: inset 0 2px 15px rgba(63, 19, 19, 0.3);
    padding: 5rem 0 5rem;
}
#gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 4rem 1rem;
    background-color: #002932!important;
    color: white;
    width: auto;
}
h1 {
    font-size: 5.5rem;
    margin-bottom: 1rem;
    text-align: left;
}
h2 {
    font-size: 2.5rem;
    padding: 0 4rem 0rem 0rem;
    color: white;
}
section p {
    margin-bottom: 1rem;
    text-align: left;
    max-width: 1300px;
}
.bolden {
    font-weight: bolder;
    color: black;
    font-size: 4.5rem;
}
.med-bolden {
    font-weight: bolder;
    color: black;
    font-size: 2.5rem;
}
footer {
    background-color: #003744!important;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    font-size: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-content: center;
    align-items: center;

}
a {
    text-decoration: none;
    color: #fff;
}
a:hover {
    background-color: orange;
    border-radius: 4px;
    color: green;
    font-size: 1rem;
    font-weight: bolder;
}
.one-column {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    background-color: white;
    color: black;
    margin: 0;
    padding-bottom: 5%;
}
.normal-white {
    color: white;
    font-size: 1rem;
    align-self: center;
    
}
.normal-black {
    color: black;
    font-size: 1rem;
    padding-left: 5%;
    padding-right: 5%;
}
}