@media screen and (max-width: 768px) {
    h2 {
        font-size: 2.5rem;
        padding: 0 4rem 0rem 0rem;
        align-items: center;
    }
    .two-column {    
        width: auto;
        display: grid;
        grid-template-columns: 90%;
        justify-content: space-evenly;
        padding: 4rem 1rem;
        background-color: #006278!important;
        color: white
    }
}